# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual envs
.venv/
venv/
ENV/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env & secrets
.env
.streamlit/secrets.toml

# Logs
*.log

# Streamlit cache
.streamlit/cache/
.streamlit/state/
